@media only screen and (min-width: 40rem) {
  header,
  main,
  nav,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }


  /************************** HEADER **************************/
header {
  grid-template-columns: 25px auto 44px;
}




  /************************** NAVIGATION **************************/
  #hamburger {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    margin-left: 10px;
  }

  nav a {
    border: none;
    padding: 0.5rem 1.5rem;
  
  }

/************************** FLAG AREA AS A LIST **************************/
.list h2 {
  font-size: 1.5rem;
}
.list p {
  font-size: 1.1rem;
}



} /* end media query */
